{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>Bienvenue sur MicroDonjon</h1>


    {% if app.user %}
        {% if app.user.chapitreEnCours %}
            <a href="{{path("routing", {'id': app.user.chapitreEnCours})}}">Continuer la partie en cours</a>
        {% else %}
        <a href="{{path("routing", {'id': 1})}}">Commencer une nouvelle partie</a>
        {% endif %}

        {% else %}
        <a href="{{path("app_login")}}" class="menu__link">Se connecter</a> - 
        <a href="{{path("app_register")}}" class="menu__link">S'inscrire</a>
    {% endif %}

</div>
{% endblock %}
