<h1>Bienvenue sur MicroDonjon</h1>

<p>
    Afin de finaliser votre inscription veuillez cliquer sur le lien suivant :<br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.<br><br>
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À bientôt !
</p>
