/*==============   FONTS    ==================*/
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
    font-family: 'Barabbas';
    src: url('../fonts/Barabbas-Display.woff') format('woff'),
        url('../fonts/Barabbas-Display.woff2') format('woff');
        font-weight: normal;
    font-style: normal;
}


/*==============   VARIABLES    ==================*/
:root{
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --dark-brown: #8F736B;
    --light-brown: #e8d4ce;
    --beige: #FFF5F2;
    --dark-green: #5D8F80;
    --light-green: #BADBD2;
    --light-red: rgb(255, 144, 144);
    --dark-red: rgb(255, 103, 103);


    /*========== Font and typography ==========*/
    --body-font: "Spectral", serif;
    --title-font: "Barabbas", sans-serif;
    --chapter-font: "IBM Plex Mono", serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.35rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-bold: 600;
   
}

/*==============   BASE    ==================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased; 
    -moz-font-smoothing: antialiased; 
    font-smoothing: antialiased; 
    font-smooth: never;
    -moz-font-smooth: never;
}

html {
    height: 100%;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: black;
    height: 100%;
    /* transition: background 0.4s; for dark mode animation */
}

main{
    height:100%
}

h1, h2, h3 {
    color: black;
    text-align: center;
    font-family: var(--title-font);
    /* font-weight: var(--font-bold); */
}

h1{
    font-size: var(--h1-font-size)
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none
}

/*==============   MAIN WRAPPERS    ==================*/



.game__main-wrapper{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    /* height: 100dvh; */
}

.game__left-page{
    width: 50%;
    background-color: var(--dark-brown);
    padding: 1.75% 2% 1.8rem 0px;
}

.game__left-page-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    padding-top: 3%;
}

.game__right-page{
    width: 50%;
    background-color: var(--beige);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.game__right-page-content{  
    padding: 5% 12% 5% 12%; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center ; */
}

/* ======== CHAPTER N° ============ */

.game__chap-number{
    font-family: var(--chapter-font);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;

}

/* ========== CHOICE LINKS ============= */

.links__choice{
    color: var(--dark-brown);
    position: relative;
    line-height: 185%;
}


.links__choice::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--dark-brown);
    transition: transform 0.4s;
    transform-origin: top left;
}

.links__choice:hover::after {
    transform: scaleX(1);
}

/* =========== PROGRESSION STACK ============== */

.game__progession_box{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.game__zone{
    width: 100%;
    height: 5%;
    color: var(--dark-brown);
    text-align: center;
    font-family: var(--title-font);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__zone-odd{
    background-color: var(--light-brown);
}

.game__zone-even{
    background-color: var(--beige);
}

/* =========== INVENTORY ============== */

.game__inventory-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width : 75%;
    gap: 15px 3%;
    margin-left: 2rem;
}

.game__item-imgbox{   
    width: 31%;
    height: fit-content;
    /* overflow: hidden; */
    position: relative;
}

.game__item-image{   
    width: 100% ;
}

/* .game__weapon{
    transition: 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
} */

/* .game__item-imgbox:hover .game__weapon{
    opacity: 40%;
} */
/* 
.game__info-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    visibility: hidden;
    opacity: 0;
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-120%);
    transition: opacity.4s, visibility .4s, transform .6s cubic-bezier(0.075, 0.82, 0.165, 1);
} */

.game__item-imgbox:hover .game__info-item{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.game__macaron{
    position:absolute;
    top: -5%;
    right: -5%;
    width: 33%;
    height: 33%;
    background-color: var(--light-brown);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--title-font);
    font-size: 150%;
    border-radius: 100%;
    color: black;
}

/* =========== HP BAR ============== */

.game__hp-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.game__hp{
    width: 2%;
    aspect-ratio: 1 / 1;
    display: block;
}

.game__hp-odd{
    background-color: var(--light-red);
}

.game__hp-even{
    background-color: var(--dark-red);
}

.game_hp-counter{
    display: block;
    font-family: var(--title-font);
    margin-left: .5rem;
    margin-top: .5rem;
    font-size: var(--h2-font-size);
}

.fa-heart{
    color:var(--dark-red);
}

/* =================== BOXES ================== */

.game__box{
    border-radius: 1.25rem;
    padding: 2rem ;
    width: max-content;
    align-self: center ;
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
}

.game__getItem{
    background-color: var(--light-brown);
    color: var(--dark-brown);
}

.game__getItem-item{
    text-transform: capitalize;
    text-decoration: underline;
}

.game__getGold{
    background: linear-gradient(45deg, rgba(255,233,181,1) 15%, rgba(255,212,111,1) 54%, rgba(255,175,61,1) 100%);
    color: black;   
}

.game__loseHP{
    background-color: var(--light-red);
    color: rgb(168, 0, 0);   
}

.game__getHP{
    background-color: var(--light-green);
    color: var(--dark-green);   
}

.game__getAttack{
    background: linear-gradient(45deg, rgba(255,181,181,1) 0%, rgba(255,212,111,1) 20%, rgba(193,255,104,1) 40%, rgba(96,240,231,1) 60%, rgba(133,136,225,1) 80%, rgba(171,150,178,1) 100%);
    color: rgb(54, 54, 54);   
}


/* =========== NAVBAR ================== */

.navbar{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .35;
}

.menu__link{
    color:var(--light-brown);
    font-family: var(--chapter-font);
    text-transform: uppercase;
    font-weight: 500;
    position:relative;
    width: max-content;
}

.menu__link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--light-brown);
    transition: transform 0.4s;
    transform-origin: top left;
}

.menu__link:hover::after {
    transform: scaleX(1);
}