{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>Chapitre Condition</h1>

    <p>Ceci est un chapitre condition</p>

</div>
{% endblock %}