{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="game__right-page-content">

    {% if not boire %}
        <h1>- Game Over -</h1>

        <p>Vous êtes trop blessé.e pour continuer votre aventure.<br>
            Vous vous en voulez de n'avoir pas su délivrer les terres d'Ängerjalg de la malédiction qui les étreint.<br>
            Vous vous allongez sur le sol froid et poussiéreux du donjon et attendez votre heure.<br>
        </p>
        
        <a href="{{path("reset")}}" class="links__choice">Mais peut-être un.e autre aventurier.ère reprendra votre flambeau ?</a>
    {% else %}
        <h1>- Game Over ? {{boisson}} -</h1>

        <p>Vous ouvrez votre gourde et buvez de grandes lampées de {{boisson}} que vous conserviez dans votre gourde.<br>
            Vous sentez instantanément la vitalité regagner votre corps.
            Vous êtes prêt.e à repartir au combat !
        </p>
        
        <a href="{{path("routing", {'id': app.user.chapitreEnCours})}}" class="links__choice">C'est reparti !</a><br>    
    {% endif %}

</div>
{% endblock %}